/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */


.html5-video-player .video-stream {
    width: 100%;
    color: red;
}

/* Veranderen van het beeld */
#video-placeholder {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 500px;
    margin-top: 10em;
}

#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}


/* Styling van de teksten van de personages */
.voice3 {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: right;
    right: 30%;
}

.voice4,
.voice1 {
    font-family: "Brenner Mono regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: right;
    right: 30%;
    letter-spacing: -1.5px;
    position: absolute;
    margin-top: -10em;
}

.voice2 {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    margin-right: 20px;
    left: 35%;
    transform: translateX(-50%);
    background-color: black;
    padding: 0.2em;
    position: absolute;
    margin-top: -10em;
}


/* Hieronder staan beschrijvingen van het fragment */
.sound0 #closed-captions:before {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    content: "(danger sound)";
    animation: danger01 5s forwards;
}

@keyframes danger01 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Hieronder staan beschrijvingen van het fragment */
.sound1 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    content: "(alarm)";
    animation: alarm01 9s forwards;
}

@keyframes alarm01 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}


/* Hieronder staan beschrijvingen van het fragment */
.sound4 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    content: "(alarm)";
    animation: alarm02 24s forwards;
}

@keyframes alarm02 {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 0%;
    }

    36% {
        opacity: 100%;
    }

    42% {
        opacity: 100%;
    }

    47% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    60% {
        opacity: 0%;
    }

    62% {
        opacity: 100%;
    }

    67% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    85% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

/* Hieronder staan beschrijvingen van het fragment */
.sound8 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    content: "(danger upcoming)";
    animation: danger02 8s forwards;
}

@keyframes danger02 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Hieronder staan beschrijvingen van het fragment */
.sound10 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    content: "(frightened sound)";
    animation: danger01 8s forwards;
}

/* Styling van het beeld */
.sound0,
.sound1 {
    animation: scaleintro 10s infinite, rotate 6s infinite;
}

@keyframes scaleintro {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.05, 1.05);
    }

    50% {
        transform: scale(1, 1);
    }

    75% {
        transform: scale(1.05, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*
@keyframes sound2scale {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.5, 0.5);
    }

    80% {
        transform: scale(1.9, 1.9);
    }

    90% {
        transform: scale(1.3, 1.3);
    }

    100% {
        transform: scale(1, 1);
    }
}*/


/* Styling van het beeld */
.sound2 {
    animation: spin 1s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}*/


/* Styling van het beeld */
.sound3,
.sound4 {
    animation: zoomout 4s forwards;
}

@keyframes zoomout {
    0% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1.9, 1.9);
    }

    100% {
        transform: scale(1, 1);
    }
}


/* Styling van het beeld */
.sound5,
.sound6 {
    animation: scale-1 10s;
}

@keyframes scale-1 {
    0% {
        transform: scale(1, 1);
    }

    70% {
        transform: scale(0.8, 0.8);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Styling van het beeld */
.sound9 {
    animation: scale 50s forwards;
}

@keyframes scale {
    0% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1.25, 1.25);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Styling van het iframe-beeld */
.sound8 > iframe {
    -webkit-animation: glow 10s;
    animation: color 50s, scale 50s forwards, glow 50s ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 30px black;
    }

    5% {
        box-shadow: 0 0 30px red;
    }

    10% {
        box-shadow: 0 0 30px black;
    }

    15% {
        box-shadow: 0 0 30px red;
    }

    20% {
        box-shadow: 0 0 30px black;
    }

    25% {
        box-shadow: 0 0 30px red;
    }

    32% {
        box-shadow: 0 0 30px black;
    }

    34% {
        box-shadow: 0 0 30px red;
    }

    36% {
        box-shadow: 0 0 30px black;
    }

    38% {
        box-shadow: 0 0 30px red;
    }

    40% {
        box-shadow: 0 0 30px black;
    }

    42% {
        box-shadow: 0 0 30px red;
    }

    44% {
        box-shadow: 0 0 30px black;
    }

    46% {
        box-shadow: 0 0 30px red;
    }

    48% {
        box-shadow: 0 0 30px black;
    }

    50% {
        box-shadow: 0 0 30px red;
    }

    52% {
        box-shadow: 0 0 30px black;
    }

    54% {
        box-shadow: 0 0 30px red;
    }

    56% {
        box-shadow: 0 0 30px black;
    }

    58% {
        box-shadow: 0 0 20px red;
    }

    60% {
        box-shadow: 0 0 30px black;
    }

    62% {
        box-shadow: 0 0 30px red;
    }

    63% {
        box-shadow: 0 0 30px black;
    }

    64% {
        box-shadow: 0 0 30px red;
    }

    65% {
        box-shadow: 0 0 30px black;
    }

    66% {
        box-shadow: 0 0 30px red;
    }

    67% {
        box-shadow: 0 0 30px black;
    }

    68% {
        box-shadow: 0 0 30px red;
    }

    69% {
        box-shadow: 0 0 30px black;
    }

    70% {
        box-shadow: 0 0 30px red;
    }

    71% {
        box-shadow: 0 0 30px black;
    }

    72% {
        box-shadow: 0 0 30px red;
    }

    73% {
        box-shadow: 0 0 30px black;
    }

    74% {
        box-shadow: 0 0 30px red;
    }

    75% {
        box-shadow: 0 0 30px black;
    }

    76% {
        box-shadow: 0 0 30px red;
    }

    77% {
        box-shadow: 0 0 30px black;
    }

    78% {
        box-shadow: 0 0 30px red;
    }

    79% {
        box-shadow: 0 0 30px black;
    }

    80% {
        box-shadow: 0 0 30px red;
    }

    81% {
        box-shadow: 0 0 30px black;
    }

    82% {
        box-shadow: 0 0 30px red;
    }

    83% {
        box-shadow: 0 0 30px black;
    }

    84% {
        box-shadow: 0 0 30px red;
    }

    85% {
        box-shadow: 0 0 30px black;
    }

    86% {
        box-shadow: 0 0 30px red;
    }

    87% {
        box-shadow: 0 0 30px black;
    }

    88% {
        box-shadow: 0 0 30px black;
    }

    89% {
        box-shadow: 0 0 30px black;
    }

    90% {
        box-shadow: 0 0 30px black;
    }

    95% {
        box-shadow: 0 0 30px black;
    }

    90% {
        box-shadow: 0 0 30px black;
    }

    100% {
        box-shadow: 0 0 30px black;
    }
}

@keyframes color {
    0% {
        background-color: black
    }

    100% {
        background-color: #600000;
    }
}

/* Styling van het beeld */
.sound10 {
    color: red;
    animation: scale 53s forwards;
}

/* Styling van het iframe-beeld */
.sound10 > iframe {
    -webkit-animation: glow 10s;
    animation: glow02 50s ease-in-out;
}

@keyframes glow02 {
    0% {
        box-shadow: 0 0 30px black;
    }

    5% {
        box-shadow: 0 0 30px red;
    }

    10% {
        box-shadow: 0 0 30px black;
    }

    15% {
        box-shadow: 0 0 30px red;
    }

    20% {
        box-shadow: 0 0 30px black;
    }

    25% {
        box-shadow: 0 0 30px red;
    }

    32% {
        box-shadow: 0 0 30px black;
    }

    34% {
        box-shadow: 0 0 30px red;
    }

    36% {
        box-shadow: 0 0 30px black;
    }

    38% {
        box-shadow: 0 0 30px red;
    }

    40% {
        box-shadow: 0 0 30px black;
    }

    42% {
        box-shadow: 0 0 30px red;
    }

    44% {
        box-shadow: 0 0 30px black;
    }

    46% {
        box-shadow: 0 0 30px red;
    }

    48% {
        box-shadow: 0 0 30px black;
    }

    50% {
        box-shadow: 0 0 30px red;
    }

    52% {
        box-shadow: 0 0 30px black;
    }

    54% {
        box-shadow: 0 0 30px red;
    }

    56% {
        box-shadow: 0 0 30px black;
    }

    58% {
        box-shadow: 0 0 20px red;
    }

    60% {
        box-shadow: 0 0 30px black;
    }

    62% {
        box-shadow: 0 0 30px red;
    }

    63% {
        box-shadow: 0 0 30px black;
    }

    64% {
        box-shadow: 0 0 30px red;
    }

    65% {
        box-shadow: 0 0 30px black;
    }

    66% {
        box-shadow: 0 0 30px red;
    }

    67% {
        box-shadow: 0 0 30px black;
    }

    68% {
        box-shadow: 0 0 30px red;
    }

    69% {
        box-shadow: 0 0 30px black;
    }

    70% {
        box-shadow: 0 0 30px red;
    }

    71% {
        box-shadow: 0 0 30px black;
    }

    72% {
        box-shadow: 0 0 30px red;
    }

    73% {
        box-shadow: 0 0 30px black;
    }

    74% {
        box-shadow: 0 0 30px red;
    }

    75% {
        box-shadow: 0 0 30px black;
    }

    76% {
        box-shadow: 0 0 30px red;
    }

    77% {
        box-shadow: 0 0 30px black;
    }

    78% {
        box-shadow: 0 0 30px red;
    }

    79% {
        box-shadow: 0 0 30px black;
    }

    80% {
        box-shadow: 0 0 30px red;
    }

    81% {
        box-shadow: 0 0 30px black;
    }

    82% {
        box-shadow: 0 0 30px red;
    }

    83% {
        box-shadow: 0 0 30px black;
    }

    84% {
        box-shadow: 0 0 30px red;
    }

    85% {
        box-shadow: 0 0 30px black;
    }

    86% {
        box-shadow: 0 0 30px red;
    }

    87% {
        box-shadow: 0 0 30px black;
    }

    88% {
        box-shadow: 0 0 30px black;
    }

    89% {
        box-shadow: 0 0 30px black;
    }

    90% {
        box-shadow: 0 0 30px black;
    }

    95% {
        box-shadow: 0 0 30px black;
    }

    90% {
        box-shadow: 0 0 30px black;
    }

    100% {
        box-shadow: 0 0 30px black;
    }
}

html {
    background-color: black;
}

body {
    font-family: "brenner";
}

/* **********************************************
The first paragraph, with extended timing for
    all siblings. Basically what it does is that
    it shows the text after a delay, which
    corresponds with the time that the word is
    spoken.
You probably want to change the styling.
********************************************** */

/* Styling van de tekst */
.p0.on span {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
}

.p0.on span:nth-of-type(11) {
    color: red;
}

.p1 span {
    opacity: 0;
    font-family: brenner;
}

.p1.on span:first-of-type {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    opacity: 1;
    transition: 0s;
    color: white;
}

.p1.on span:nth-of-type(2) {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    opacity: 1;
    transition: 0s .4s;
    font-weight: 400;
}

.p2 span {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    animation-duration:
}

.p2.on span:first-of-type {
    font-size: 1em;
    opacity: 1;
    transition: 0s;
}

.p2.on span:nth-of-type(2) {
    font-size: 1em;
    opacity: 1;
    transition: 0s .4s;
    color: red;
}

.p2.on span:nth-of-type(2) {
    font-size: 1em;
    opacity: 1;
    transition: 0s .4s;
}

.p4.on span {
    text-align: center;
}

.p4.on span:nth-of-type(1) {
    margin-left: 5em;
}

.p4.on span:nth-of-type(4),
.p4.on span:nth-of-type(7) {
    color: red;
}

/*interlinked within cells, interlinked within on stem*/
.p5.on span:nth-of-type(3),
.p5.on span:nth-of-type(6),
.p5.on span:nth-of-type(7) {
    color: red;
}

/*Fuck off*/
.p6.on span:nth-of-type(1),
.p6.on span:nth-of-type(2) {
    color: red;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    top: -10em;
}

/*And dreadfully*/
.p6.on span:nth-of-type(3) {
    font-family: "Brenner Mono";
    font-style: Normal;
    color: red;
    font-size: 1em;
    position: relative;
    top: -10em;
}

.p7.on span:nth-of-type(9) {
    font-weight: 800;
    color: white;
}

.p41.on {
    transition: 0.2;
    color: #A54747;
    opacity: 50%;
}

.p42.on {
    color: #D11919;
    opacity: 75%;
}

.p43.on {
    color: red;
}

.p66.on,
.p68.on,
.p77.on{
    text-transform: uppercase;
}
