/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */


.html5-video-player .video-stream {
    width: 100%;
    color: red;
}

/* Veranderen van het beeld */
#video-placeholder {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 500px;
    margin-top: 10em;
}

#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}


/* Styling van de teksten van de personages */
.voice3 {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: right;
    right: 30%;
}

.voice4,
.voice1 {
    font-family: "Brenner Mono regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: right;
    right: 30%;
    letter-spacing: -1.5px;
    position: absolute;
    margin-top: -10em;
}

.voice2 {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    margin-right: 20px;
    left: 35%;
    transform: translateX(-50%);
    background-color: black;
    padding: 0.2em;
    position: absolute;
    margin-top: -10em;
}


/* Hieronder staan beschrijvingen van het fragment */
.sound0 #closed-captions:before {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
    content: "(danger sound)";
    animation: danger01 5s forwards;
    margin-top: 0.2em;
    text-shadow: 1px 1px 10px red, 0 0 2em red, 0 0 0.5em red;
}

@keyframes danger01 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Hieronder staan beschrijvingen van het fragment */
.sound1 #closed-captions:after {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    color: red;
    text-align: center;
    content: "(alarm outside)";
    animation: alarm01 9s forwards;
    margin-top: 0em;
    text-shadow: 1px 1px 10px red, 0 0 2em red, 0 0 0.5em red;
}

@keyframes alarm01 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}


/* Hieronder staan beschrijvingen van het fragment */
.sound4 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
    content: "(alarm inside)";
    animation: alarm02 24s forwards;
    margin-top: 0.2em;
    text-shadow: 1px 1px 10px red, 0 0 2em red, 0 0 0.5em red;
}

@keyframes alarm02 {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 0%;
    }

    36% {
        opacity: 100%;
    }

    42% {
        opacity: 100%;
    }

    47% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    58% {
        opacity: 0%;
    }

    63% {
        opacity: 100%;
    }

    68% {
        opacity: 100%;
    }

    78% {
        opacity: 0%;
    }

    85% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

/* Hieronder staan beschrijvingen van het fragment */
.sound8 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
    content: "(upcoming danger sound)";
    animation: danger2 9s forwards;
    text-shadow: 1px 1px 10px red, 0 0 2em red, 0 0 0.5em red;
}

@keyframes danger2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    48% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.sound9 #closed-captions:before {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
    content: "(silence)";
    animation: silence 44s forwards;
    margin-top: 0.2em;
    text-shadow: 1px 1px 10px red, 0 0 2em red, 0 0 0.5em red;
}

@keyframes silence {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    93% {
        opacity: 0;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.sound10 #closed-captions:before {
    height: 100%;
    width: 100%;
    color: black;
    background-color: black;
}

/* Hieronder staan beschrijvingen van het fragment */
.sound10 #closed-captions:after {
    font-family: "Brenner Mono light";
    font-style: Italic;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
    content: "(frightened sound)";
    animation: danger01 8s forwards;
    margin-top: 0.2em;
    text-shadow: 1px 1px 10px red, 0 0 2em red, 0 0 0.5em red;
}

/* Styling van het beeld */
.sound0,
.sound1 {
    animation: scaleintro 10s infinite, rotate 6s infinite;
}

@keyframes scaleintro {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.05, 1.05);
    }

    50% {
        transform: scale(1, 1);
    }

    75% {
        transform: scale(1.05, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.sound2 {
    animation: spin 1s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.sound3,
.sound4 {
    animation: zoomout 4s forwards;
}

@keyframes zoomout {
    0% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1.9, 1.9);
    }

    100% {
        transform: scale(1, 1);
    }
}

.sound5,
.sound6 {
    transition: 0.5 ease;
    animation: scale-1 10s;
}

@keyframes scale-1 {
    0% {
        transform: scale(1, 1);
    }

    70% {
        transform: scale(0.8, 0.8);
    }

    100% {
        transform: scale(1, 1);
    }
}

.sound9 {
    animation: scale 50s forwards;
}

@keyframes scale {
    0% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.sound8 > iframe {
    -webkit-animation: glow 10s;
    animation: color 50s, scale 50s forwards, glow 50s ease-in-out;
}

/* De glow gaat van langzaam naar snel */
@keyframes glow {
    0% {
        box-shadow: 0 0 30px black;
    }

    2% {
        box-shadow: 0 0 30px black;
    }

    4% {
        box-shadow: 0 0 30px red;
    }

    6% {
        box-shadow: 0 0 30px black;
    }

    8% {
        box-shadow: 0 0 30px red;
    }

    10% {
        box-shadow: 0 0 30px black;
    }

    12% {
        box-shadow: 0 0 30px red;
    }

    14% {
        box-shadow: 0 0 30px black;
    }

    16% {
        box-shadow: 0 0 30px red;
    }

    18% {
        box-shadow: 0 0 30px black;
    }

    20% {
        box-shadow: 0 0 30px red;
    }

    22% {
        box-shadow: 0 0 30px black;
    }

    24% {
        box-shadow: 0 0 30px red;
    }

    26% {
        box-shadow: 0 0 30px black;
    }

    28% {
        box-shadow: 0 0 30px red;
    }

    30% {
        box-shadow: 0 0 30px black;
    }

    32% {
        box-shadow: 0 0 30px red;
    }

    34% {
        box-shadow: 0 0 30px black;
    }

    36% {
        box-shadow: 0 0 30px red;
    }

    38% {
        box-shadow: 0 0 30px black;
    }

    40% {
        box-shadow: 0 0 30px red;
    }

    41% {
        box-shadow: 0 0 30px black;
    }

    42% {
        box-shadow: 0 0 45px red;
    }

    43% {
        box-shadow: 0 0 30px black;
    }

    44% {
        box-shadow: 0 0 45px red;
    }

    45% {
        box-shadow: 0 0 30px black;
    }

    46% {
        box-shadow: 0 0 45px red;
    }

    47% {
        box-shadow: 0 0 30px black;
    }

    48% {
        box-shadow: 0 0 45px red;
    }

    49% {
        box-shadow: 0 0 30px black;
    }

    50% {
        box-shadow: 0 0 45px red;
    }

    51% {
        box-shadow: 0 0 30px black;
    }

    52% {
        box-shadow: 0 0 45px red;
    }

    53% {
        box-shadow: 0 0 30px black;
    }

    54% {
        box-shadow: 0 0 45px red;
    }

    55% {
        box-shadow: 0 0 30px black;
    }

    56% {
        box-shadow: 0 0 45px red;
    }

    57% {
        box-shadow: 0 0 30px black;
    }

    58% {
        box-shadow: 0 0 45px red;
    }

    59% {
        box-shadow: 0 0 30px black;
    }

    60% {
        box-shadow: 0 0 45px red;
    }

    61% {
        box-shadow: 0 0 30px black;
    }

    62% {
        box-shadow: 0 0 45px red;
    }

    63% {
        box-shadow: 0 0 30px black;
    }

    64% {
        box-shadow: 0 0 45px red;
    }

    65% {
        box-shadow: 0 0 30px black;
    }

    66% {
        box-shadow: 0 0 45px red;
    }

    67% {
        box-shadow: 0 0 30px black;
    }

    68% {
        box-shadow: 0 0 45px red;
    }

    69% {
        box-shadow: 0 0 30px black;
    }

    70% {
        box-shadow: 0 0 45px red;
    }

    71% {
        box-shadow: 0 0 30px black;
    }

    71.5% {
        box-shadow: 0 0 30px red;
    }

    72% {
        box-shadow: 0 0 50px black;}

    72.5% {
        box-shadow: 0 0 50px red;
    }

    73% {
        box-shadow: 0 0 30px black;
    }

    73.5% {
        box-shadow: 0 0 50px red;
    }

    74% {
        box-shadow: 0 0 30px black;
    }

    74.5% {
        box-shadow: 0 0 50px red;
    }

    75% {
        box-shadow: 0 0 30px black;
    }

    75.5% {
        box-shadow: 0 0 50px red;
    }

    76% {
        box-shadow: 0 0 30px black;
    }

    76.5% {
        box-shadow: 0 0 50px red;
    }

    77% {
        box-shadow: 0 0 30px black;
    }

    77.5% {
        box-shadow: 0 0 50px red;
    }

    78% {
        box-shadow: 0 0 30px black;
    }

    78.5% {
        box-shadow: 0 0 50px red;
    }

    79% {
        box-shadow: 0 0 30px black;
    }

    79.5% {
        box-shadow: 0 0 50px red;
    }

    80% {
        box-shadow: 0 0 30px black;
    }

    80.5% {
        box-shadow: 0 0 50px red;
    }

    81% {
        box-shadow: 0 0 30px black;
    }

    81.5% {
        box-shadow: 0 0 50px red;
    }

    82% {
        box-shadow: 0 0 30px black;
    }

    82.5% {
        box-shadow: 0 0 50px red;
    }

    83% {
        box-shadow: 0 0 30px black;
    }

    83.5% {
        box-shadow: 0 0 50px red;
    }

    84% {
        box-shadow: 0 0 30px black;
    }

    84.5% {
        box-shadow: 0 0 50px red;
    }

    85% {
        box-shadow: 0 0 30px black;
    }

    85.5% {
        box-shadow: 0 0 50px red;
    }

    86% {
        box-shadow: 0 0 30px black;
    }

    86.5% {
        box-shadow: 0 0 50px black;
    }

    87% {
        box-shadow: 0 0 30px black;
    }

    100% {
        box-shadow: 0 0 30px black;
    }
}

@keyframes color {
    0% {
        background-color: black
    }

    100% {
        background-color: #600000;
    }
}

/* Styling van het beeld */
.sound10 {
    color: red;
    animation: scale2 5s infinite;
}

@keyframes scale2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.97, 0.97);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Styling van het beeld */
.sound10 {
    color: red;
    animation: scalee 50s forwards;
}

@keyframes scalee {
    0% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1.18, 1.18);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Styling van het iframe-beeld */
.sound10 > iframe {
    -webkit-animation: glow 10s;
  animation: glow5 50s ease-in-out;
}

/* De glow gaat van langzaam naar snel */
@keyframes glow5 {

    0% {
        box-shadow: 0 0 30px black;
    }

    1% {
        box-shadow: 0 0 30px black;
    }

    2% {
        box-shadow: 0 0 30px black;
    }

    3% {
        box-shadow: 0 0 30px black;
    }

    4% {
        box-shadow: 0 0 30px darkred;
    }

    5% {
        box-shadow: 0 0 30px black;
    }

    6% {
        box-shadow: 0 0 30px darkred;
    }

    7% {
        box-shadow: 0 0 30px black;
    }

    8% {
        box-shadow: 0 0 30px darkred;
    }

    9% {
        box-shadow: 0 0 30px black;
    }

    10% {
        box-shadow: 0 0 30px darkred;
    }

    11% {
        box-shadow: 0 0 30px black;
    }

    12% {
        box-shadow: 0 0 30px darkred;
    }

    13% {
        box-shadow: 0 0 30px black;
    }

    14% {
        box-shadow: 0 0 30px darkred;
    }

    15% {
        box-shadow: 0 0 30px black;
    }

    16% {
        box-shadow: 0 0 30px darkred;
    }

    17% {
        box-shadow: 0 0 30px black;
    }

    18% {
        box-shadow: 0 0 20px darkred;
    }

    19% {
        box-shadow: 0 0 30px black;
    }

    20% {
        box-shadow: 0 0 30px darkred;
    }

    21% {
        box-shadow: 0 0 30px black;
    }

    22% {
        box-shadow: 0 0 30px darkred;
    }

    23% {
        box-shadow: 0 0 30px black;
    }

    24% {
        box-shadow: 0 0 30px darkred;
    }

    25% {
        box-shadow: 0 0 30px black;
    }

    26% {
        box-shadow: 0 0 30px darkred;
    }

    27% {
        box-shadow: 0 0 30px black;
    }

    28% {
        box-shadow: 0 0 30px darkred;
    }

    29% {
        box-shadow: 0 0 30px black;
    }

    30% {
        box-shadow: 0 0 30px darkred;
    }

    31% {
        box-shadow: 0 0 30px black;
    }

    32% {
        box-shadow: 0 0 30px darkred;
    }

    33% {
        box-shadow: 0 0 30px black;
    }

    34% {
        box-shadow: 0 0 30px darkred;
    }

    35% {
        box-shadow: 0 0 30px black;
    }

    36% {
        box-shadow: 0 0 20px darkred;
    }

    37% {
        box-shadow: 0 0 30px black;
    }

    38% {
        box-shadow: 0 0 20px darkred;
    }

    39% {
        box-shadow: 0 0 30px black;
    }

    40% {
        box-shadow: 0 0 30px darkred;
    }

    41% {
        box-shadow: 0 0 30px black;
    }

    42% {
        box-shadow: 0 0 30px darkred;
    }

    43% {
        box-shadow: 0 0 30px black;
    }

    44% {
        box-shadow: 0 0 30px darkred;
    }

    45% {
        box-shadow: 0 0 30px black;
    }

    46% {
        box-shadow: 0 0 30px darkred;
    }

    47% {
        box-shadow: 0 0 30px black;
    }

    48% {
        box-shadow: 0 0 30px darkred;
    }

    49% {
        box-shadow: 0 0 30px black;
    }

    50% {
        box-shadow: 0 0 20px darkred;
    }

    51% {
        box-shadow: 0 0 30px black;
    }

    52% {
        box-shadow: 0 0 30px darkred;
    }

    53% {
        box-shadow: 0 0 30px black;
    }

    54% {
        box-shadow: 0 0 30px darkred;
    }

    55% {
        box-shadow: 0 0 30px black;
    }

    56% {
        box-shadow: 0 0 30px darkred;
    }

    57% {
        box-shadow: 0 0 30px black;
    }

    58% {
        box-shadow: 0 0 30px darkred;
    }

    59% {
        box-shadow: 0 0 30px black;
    }

    60% {
        box-shadow: 0 0 30px darkred;
    }

    61% {
        box-shadow: 0 0 30px black;
    }

    62% {
        box-shadow: 0 0 20px darkred;
    }

    63% {
        box-shadow: 0 0 30px black;
    }

    64% {
        box-shadow: 0 0 30px darkred;
    }

    65% {
        box-shadow: 0 0 30px black;
    }

    66% {
        box-shadow: 0 0 30px darkred;
    }

    67% {
        box-shadow: 0 0 30px black;
    }

    68% {
        box-shadow: 0 0 30px darkred;
    }

    69% {
        box-shadow: 0 0 30px black;
    }

    69.5% {
        box-shadow: 0 0 30px darkred;
    }

    70% {
        box-shadow: 0 0 30px black;
    }

    70.5% {
        box-shadow: 0 0 30px darkred;
    }

    71% {
        box-shadow: 0 0 30px black;
    }

    71.5% {
        box-shadow: 0 0 30px darkred;
    }

    72% {
        box-shadow: 0 0 30px black;
    }

    72.5% {
        box-shadow: 0 0 30px darkred;
    }

    73% {
        box-shadow: 0 0 30px black;
    }

    73.5% {
        box-shadow: 0 0 30px darkred;
    }

    74% {
        box-shadow: 0 0 30px black;
    }

    74.5% {
        box-shadow: 0 0 30px darkred;
    }

    75% {
        box-shadow: 0 0 30px black;
    }

    75.5% {
        box-shadow: 0 0 30px darkred;
    }

    76% {
        box-shadow: 0 0 30px black;
    }

    76.5% {
        box-shadow: 0 0 30px darkred;
    }

    77% {
        box-shadow: 0 0 30px black;
    }

    77.5% {
        box-shadow: 0 0 30px darkred;
    }

    78% {
        box-shadow: 0 0 30px black;
    }

    78.5% {
        box-shadow: 0 0 30px darkred;
    }

    79% {
        box-shadow: 0 0 30px black;
    }

    79.5% {
        box-shadow: 0 0 30px darkred;
    }

    80% {
        box-shadow: 0 0 30px black;
    }

    80.5% {
        box-shadow: 0 0 30px darkred;
    }

    81% {
        box-shadow: 0 0 30px black;
    }

    81.5% {
        box-shadow: 0 0 30px darkred;
    }

    82% {
        box-shadow: 0 0 30px black;
    }

    82.5% {
        box-shadow: 0 0 30px darkred;
    }

    83% {
        box-shadow: 0 0 30px black;
    }

    83.5% {
        box-shadow: 0 0 30px darkred;
    }

    84% {
        box-shadow: 0 0 30px black;
    }

    84.5% {
        box-shadow: 0 0 30px darkred;
    }

    85% {
        box-shadow: 0 0 30px black;
    }

    85.5% {
        box-shadow: 0 0 30px darkred;
    }

    86% {
        box-shadow: 0 0 30px black;
    }

    86.5% {
        box-shadow: 0 0 30px black;
    }

    87% {
        box-shadow: 0 0 30px black;
    }

    100% {
        box-shadow: 0 0 30px black;
    }
}

html {
    background-color: black;
}

body {
    font-family: "brenner";
}

/* **********************************************
The first paragraph, with extended timing for
    all siblings. Basically what it does is that
    it shows the text after a delay, which
    corresponds with the time that the word is
    spoken.
You probably want to change the styling.
********************************************** */

/* Styling van de tekst */
.p0.on span {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
}

.p0.on span:nth-of-type(11) {
    color: red;
}

.p1 span {
    opacity: 0;
    font-family: brenner;
}

.p1.on span:first-of-type {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    opacity: 1;
    transition: 0s;
    color: white;
}

.p1.on span:nth-of-type(2) {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    opacity: 1;
    transition: 0s .4s;
    font-weight: 400;
}

.p2 span {
    font-family: "Brenner Mono Regular";
    font-style: normal;
    font-weight: 400;
}

.p2.on span:first-of-type {
    font-size: 1em;
    opacity: 1;
    transition: 0s;
}

.p2.on span:nth-of-type(2) {
    font-size: 1em;
    opacity: 1;
    transition: 0s .4s;
    color: red;
}

.p2.on span:nth-of-type(2) {
    font-size: 1em;
    opacity: 1;
    transition: 0s .4s;
}

.p4.on span {
    text-align: center;
}

.p3.on span:nth-of-type(4) {
    color: red;
}

.p4.on span:nth-of-type(1) {
    margin-left: 5em;
}

.p4.on span:nth-of-type(4),
.p4.on span:nth-of-type(7) {
    color: red;
}

/*interlinked within cells, interlinked within on stem*/
.p5.on span:nth-of-type(3),
.p5.on span:nth-of-type(6),
.p5.on span:nth-of-type(7) {
    color: red;
}

/*Fuck off*/
.p6.on span:nth-of-type(1),
.p6.on span:nth-of-type(2) {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    top: -10em;
}

.p6.on span:nth-of-type(3),
.p6.on span:nth-of-type(4) {
    font-family: "Brenner Mono";
    font-style: Normal;
    color: white;
    font-size: 1em;
    position: relative;
    top: -10em;
}

.p7.on span:nth-of-type(9) {
    font-weight: 800;
    color: white;
}

.p41.on {
    font-size: 1em;
    transition: 0.2;
    color: red
}

.p42.on {
    font-size: 1.1em;
    color: red;
}

.p43.on {
    font-size: 1.2em;
    color: red;
}

.p14.on,
.p33.on,
.p36.on,
.p11.on,
.p17.on,
.p38.on {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-top: 2em;
}

.p57.on,
.p65.on,
.p66.on,
.p67.on,
.p68.on,
.p75.on,
.p77.on {
    text-transform: uppercase;
    font-size: 2em;
    margin-top: -6em;
}

.p69.on {
    right: 29%;
    margin-top: -10.5em
}

.p71.on,
.p73.on {
    right: 24%;
}
